@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="col-md-8">
    <h2>Welcome to TekUp University Digital Plateforme</h2>
    <p>
        Where students can track their courses and teachers can see their students
        evaluations and track the subjects they teach.
    </p>
</div>
